body { background-color:grey;
    display: block;
      text-align: center;
      text-indent: 3%;
      width: 100%;
  }

  header {
      text-align: center;
  }

  div {
      text-align: center;
     margin: auto;
     width: 50%;
     padding: 10px;
  }  
  img {
     margin: auto;   
     display: block;
     width: 35%;
  }
#gif {

    display: flex;
    flex-direction: row;
    margin: 0;
}